* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  box-sizing: border-box;
}
body {
  background-color: #141414;
  margin: 0;
  color: #ffffff;
}
/* App */
.App {
  width: 100%;
}

/* Header */
.Header {
  box-sizing: border-box;

  padding-left: 30px;
  padding-right: 30px;

  width: 100%;
  /* min-width: 1080px; */

  height: 70px;
  /* position: fixed; */
  /* background-color: gray; */

  display: flex;
  align-items: center;
}
.logo {
  width: 130px;
  display: flex;
  /* background-color: aqua; */
}
img {
  max-width: 100%;
  min-width: 50px;
  cursor: pointer;
}

.menu {
  font-size: 15px;
  width: 70%;
  display: flex;
  justify-content: left;
  /* background-color: aqua; */
}
.menu h2 {
  margin-left: 60px;
  cursor: pointer;
}
.search {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}
.search input {
  margin-right: 10px;
  height: 25px;
  background-color: #14141438;
  border: 1.5px solid white;
  border-radius: 5px;
  color: white;
}

/* MovieList */
.slide {
  /* background-color: gray; */
  position: relative;
  overflow: hidden;
  height: 100%;
  /* onClick 이벤트를 통해 margin - */
}

.slide_controller {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
span {
  margin: 20px;
  font-size: 28px;
  font-weight: 700;
}
.movie_slide {
  /* width: 영화 개수에 따라 변함 */
  list-style-type: none;
}

/* Movie */
.Movie {
  width: 200px;
  padding-right: 10px;
  float: left;
}
