* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  box-sizing: border-box;
}
body {
  background-color: #141414;
  margin: 0;
  color: #ffffff;
}
/* App */
.App {
  width: 100%;
}

/* Header */
.Header {
  box-sizing: border-box;

  padding-left: 30px;
  padding-right: 30px;

  width: 100%;

  height: 70px;

  display: flex;
  align-items: center;
}
.logo {
  width: 130px;
  display: flex;
}
img {
  max-width: 100%;
  min-width: 50px;
  cursor: pointer;
}

.menu {
  font-size: 15px;
  width: 70%;
  display: flex;
  justify-content: left;
}
.menu h2 {
  margin-left: 60px;
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}
.search input {
  margin-right: 10px;
  height: 25px;
  background-color: #14141438;
  border: 1.5px solid white;
  border-radius: 5px;
  color: white;
}

/* MovieList */
.slide {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 1800px;
  margin: 0 auto;
}

.slide_controller {
  position: relative;
  bottom: 200px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.next,
.prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
}
.movie_slide {
  list-style-type: none;
}

/* Movie */
.Movie {
  /* 너비는 컴포넌트에서 정의 */
  padding-right: 10px;
  float: left;
}
